################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PracticoBibliteca/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
